

<section>
    <div class= "c-gestion">
      <div class="c-gestion__left">
         <form (ngSubmit)="onSubmit()" [formGroup]="gestionForm"> 
     <p>Nombre Piloto *:</p><span  *ngIf="gestionForm.controls['givenName'].errors">Campo oblgatorio</span>
          <input type="text"formControlName="givenName" placeholder="Por ej: Fernando">
          <p>Apellido Piloto *:</p><span  *ngIf="gestionForm.controls['familyName'].errors">Campo oblgatorio</span>
          <input type="text"formControlName="familyName" placeholder="Por ej: alonso">
          <p>Numero piloto*:</p><span  *ngIf="gestionForm.controls['permanentNumber'].errors">Campo oblgatorio</span> 
          <input type="number" formControlName="permanentNumber" placeholder="Por ej: 99">
          <p>Nacionalidad *:</p><span  *ngIf="gestionForm.controls['nationality'].errors">Campo oblgatorio</span>
          <input type="text"formControlName="nationality" placeholder="Por ej: España">
          <p>Ruta de la imagen</p><span  *ngIf="gestionForm.controls['image'].errors">Campo oblgatorio</span> 
          <input type="text" formControlName="image" placeholder="http://blabla/img.jpg">
          <div class="botoncito">
          <button>Guardar</button>
        </div>
         </form> 
      </div>
      <div class="c-gestion__right">
          <app-gestion-detail [newDriver]="newDriver"></app-gestion-detail>  
      </div>
    </div>
    </section>