<div class="c-gallery">
  <div class="row">
    <figure class="col-12 col-md-6 col-lg-4 col-xl-3">
      <img routerLink="../" class="c-gallery__img" src="{{ teams?.data.EscuderiaFindId.image }}" alt="{{ teams?.data.EscuderiaFindId.name }}" />
      <figcaption class="d-flex justify-content-center">
        
      </figcaption>
      <h2 class="b-text b-text--l b-text--frame">Team - {{ teams?.data.EscuderiaFindId.name }}</h2>
      <h3 class="b-text b-text--l b-text--frame"> Nationality - {{ teams?.data.EscuderiaFindId.nationality }}</h3>
      <h3 class="b-text b-text--l b-text--frame">Team - {{ teams?.data.EscuderiaFindId.name }}</h3>
    </figure>
  </div>
</div>