<div class="c-gallery">

  <div class="c-gallery">
    <div  class=" d-flex justify-content-center p-inputtext-lm pb-4 pt-4">
      <div class="p-input-icon-right" >
      <i class="pi  pi-search"></i>
      <input    type="text"  pInputText  placeholder="Search Team..." [(ngModel)]="filterGalery"  name="filterGalery"  />
    </div>
    </div>





    <div class="row">
      <figure class="col-12 col-md-6 col-lg-4 col-xl-3" *ngFor="let item of teams | teamsfilter:filterGalery" routerLink="{{item.id}}" >
        <img  class="c-gallery__img" src="{{ item.image }}" alt="{{ item.name }}" />
        <figcaption class="d-flex justify-content-center">
          <h2 class="b-text b-text--l b-text--frame">{{ item.name }} </h2>
         
        </figcaption>
      </figure>
    </div>
  </div>
  
